body{
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.6;
}

h2{
    font-size: 2.5rem;
}

p{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

ul{
    list-style: none;
    padding: 0;
}
.one{
    margin:6% 6% 2%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width:15%;
    padding-right:61% ;
}


.upper-links{
    width:25%;
}

@media (max-width: 1250px){
    .logo{
        padding-right: 20%;
    }

    .upper-links{
        font-size: 0.98rem;
        width: 30%;
    }
}

@media (max-width: 1000px){
    .logo{
        padding-right: 15%;
    }

    .upper-links{
        font-size: 0.98rem;
        width: 50%;
    }
}



nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav li{
    margin-left: 2em ;
}

.header-links{
    text-decoration: none;

}

.header-links:hover{
    opacity: 0.7;
}
/*
.first-part{
    margin: 6%;
    margin-top: 7%;
}

.illus-1{
    width: 49%;
    margin-left: 2%;
    float:right;
}

.first-heading{
    padding-top: 6%;
    margin-bottom: 1%;
}
*/


.first-part{
    margin: 5% 6%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.left-1{
    width: 50%;
}

.right-1{
    width: 47%;
}

.illus-1{
    width: 100%;
}
.btn {
    outline: none;
    border:none;
    border-radius: 4px;
    font-family: "Raleway", sans-serif;
    color: #ffffff;
    font-size: 0.9rem;
    background: hsl(224, 93%, 58%);
    padding: 1em 3.1em 1em 3.1em;
}
  
.btn:hover {
    opacity: 0.7;
}

.email-btn{
    padding: 0.9em 7.5em 0.9em 0.6em;
}

.curve-div{
    height: 235px;
}
.curve{
    padding-top: 9%;
    max-width: 100%;
    margin: 0;
    border-bottom: solid #F9F8FE;
    border-bottom-width: 150px;
}


.second-part{
    margin:0;
    padding: 3% 6% 7%;
    background-color: #F9F8FE;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
}

.second-right{
    width: 41%;
}
.illus-2{
    width: 100%;
    
}

.second-left{
    width:55%;
}

.para{
    width:79%;
}

.flyo-link{
    color: hsl(170, 45%, 43%);
    text-decoration: none;
}

.see-working{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    display:inline-block;
    border-bottom:solid hsl(170, 45%, 43%);
}
.see-working:hover{
    opacity: 0.7;
}

/*
.feedback{
    margin-top: 70px;
    font-size: 10px;
    padding:22px 35px 33px;
    height:180px;
    width: 300px;
    background-color: white;
    border-radius: 3%;
    box-shadow: inset;
}

.avatar{
    height:40px;
    border-radius: 100%;
    margin-top: 10px;
    margin-right: 10px;
    float:left;
}

.designation{
    font-size: 9px;
}
*/

.feedback{
    width:50%;
    background-color: white;
    border-radius: 3%;
    margin-top: 6%;
    padding: 4.5%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.quotes{
    width: 5%;
}

.avatar{
    border-radius: 100%;
    padding: 0 3%;
    width: 15%;
    float: left;
}

.designation{
    font-size: 0.7rem;
}

.three{
    padding:50px 6%;
    background-color: hsl(238, 22%, 44%);
    color: white;
    display: flex;
    justify-content: space-between;
}
.btn-2{
    outline: none;
    border:none;
    border-radius: 4px;
    font-family: "Raleway", sans-serif;
    color: #ffffff;
    font-size: 0.9rem;
    background: hsl(224, 93%, 58%);
    padding: 1em 3.1em 1em 3.1em;

}

.btn-2:hover{
    opacity: 0.7;
}

.email-btn-2{
    width: 75%;
    padding: 1.2em;
    margin-bottom: 5px;
}

.left{
    width: 44%;
}

.right{
    margin-top: 5%;
    width: 40%;
    
}

.four{
    background-color: hsl(243, 87%, 12%);
    color: white;
    padding:8% 6% 5%;
    line-height: 2;
}

.col-4{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.contact{
    width:19%;
}

.footer-links{
    text-decoration: none;
    font-weight: 400;
    color: white;
}

.footer-links:hover{
    opacity: 0.4;
}

.social-media{
    width:13%;
}
.media-icons{
    width:28%;
}


@media (max-width: 600px){
    .logo {padding-right: 15%;}
    .upper-links{font-size: 0.9rem;width: 60%;}
    .first-part{
        padding-top: 20%;
        text-align: center;
        flex-direction: column-reverse;
    }
    .left-1{width: 100%;}
    .right-1{width: 85%;}
    .email-btn{margin-bottom: 3%;width: 75%;}
    .btn{width: 98%;}
    .curve-div{margin-top: 20%;height: 200px;}
    .second-part{
        margin-top: 0;
        text-align: center;
        flex-direction: column;
    }
    .second-left {width: 100%;
    padding-top: 20%;}
    .second-right {width: 80%;}
    .para{
        width: 100%;
        text-align: left;
    }
    .second-left h2{font-size: 1.5rem;}
    .feedback{width: 80%;margin:10% auto;text-align: left;}
    .three{
        padding: 5% 12% 7%;
        text-align: center;
        flex-direction: column;
    }
    .left{width: 100%;}
    .right{width: 100%;}
    .left h2{font-size:1.5rem ;}
    .btn-2{
        width: 82%;
    }
    .col-4{
        height:500px;
        flex-direction: column;
    }
    .contact{width: 100%;}
    .social-media{
        margin: 0 auto;
        width: 40%;
    }

}